<div *ngIf="!showRegForm">
  <div
    class="flex min-h-full flex-col justify-center px-6 lg:px-8 regular-text"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-8">
      <h2
        class="justify-center font-bold leading-9 tracking-tight text-gray-900 flex items-center flex-wrap"
      >
        Sign in to your account

        <div *ngIf="isParentClicked">
          <img src="/assets/icons/parent-black.svg" class="h-6 w-6 ml-2" />
        </div>
        <div *ngIf="isTeacherClicked">
          <img src="/assets/icons/teacher-black.svg " class="h-6 w-6 ml-2" />
        </div>
        <div *ngIf="isStudentClicked">
          <img src="/assets/icons/student-black.svg " class="h-6 w-6 ml-2" />
        </div>
      </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900 text-left"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="outline-none px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Password</label
            >
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="outline-none px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="flex justify-center flex-wrap items-center">
          <div class="text-sm text-gray-600 mt-forget-password">
            <section class="example-section">
              <mat-checkbox
                class="example-margin"
                color="primary"
                [(ngModel)]="checked"
                >Remember me</mat-checkbox
              >
            </section>
          </div>
          <div class="px-3">
            <a
              (click)="showPasswordForm = true; showRegForm = true"
              class="font-semibold text-sm text-indigo-600 whitespace-nowrap"
              >Forgot password?</a
            >
          </div>
        </div>
        <div>
          <button
            routerLink="/dashboard"
            type="submit"
            class="bg-gradient-to-br from-indigo-500 to-violet-500 btn-style-hover flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Sign in
          </button>
        </div>
      </form>

      <p class="pt-4 text-center text-sm text-gray-500">
        Not a member?
        <a
          routerLink="/register"
          class="font-semibold leading-6 text-indigo-600"
          >Register</a
        >
      </p>
    </div>
  </div>
</div>

<div *ngIf="showPasswordForm">
  <div
    class="flex min-h-full flex-col justify-center px-6 lg:px-8 regular-text"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-8">
      <h2
        class="justify-center font-bold leading-9 tracking-tight text-gray-900 flex items-center flex-wrap"
      >
        Forget Password

        <div>
          <img src="/assets/icons/lock.svg" class="h-6 w-6 ml-2" />
        </div>
      </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="" method="POST">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900 text-left"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="outline-none block w-full px-12 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="bg-gradient-to-br from-indigo-500 to-violet-500 btn-style-hover flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
