<div class="mx-auto">
  <div class="flex flex-col md:flex-row h-screen login-container-bg">
    <div
      class="md:flex items-center justify-center w-full md:w-1/2 my-auto left-container-style hidden"
    >
      <div>
        <img
          src="assets\images\login.JPG"
          alt="Login Image"
          class="mx-auto left-container-img bg-cover bg-center"
        />
        <div class="thin-text text-center py-4">
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r to-gray-500 from-violet-500 font-normal"
          >
            <span class="font-bold">"EduSync"</span> is a comprehensive
            education management platform designed to foster seamless
            communication and collaboration between parents, teachers, and
            students.
          </span>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 flex justify-center items-center h-screen">
      <div class="registration-form-container scroll-container py-10 w-full">
        <div class="text-center register-container-screen">
          <h1 class="bold-text flex justify-center items-center register-mt-8">
            <div class="svg-icon-size">
              <img src="/assets/icons/edu.svg" />
            </div>

            <div class="brand-name">
              Edu<span class="sync-color">Sync</span>
            </div>
          </h1>
          <a *ngIf="showButtons" class="transition-transform transform">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-8 regular-text">
              <h2
                class="text-center font-bold leading-9 tracking-tight text-gray-900 flex items-center justify-center"
              >
                Select Account Type to Sign Up
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="group_add"
                  class="ml-2"
                ></mat-icon>
              </h2>
            </div>
            <div class="my-6 mt-10">
              <button
                class="regular-text student-btn py-2 flex bg-gradient-to-br from-violet-600"
                (click)="toggleRegForm()"
              >
                <img src="/assets/icons/student.svg " class="h-6 w-6 mr-2" />
                Student
              </button>
            </div>

            <div class="my-6">
              <button
                class="regular-text teacher-btn py-2 flex bg-gradient-to-br from-zinc-900 to-slate-500 text"
                (click)="toggleRegForm()"
              >
                <img src="/assets/icons/teacher.svg " class="h-6 w-6 mr-2" />
                Teacher
              </button>
            </div>
            <div class="my-6">
              <button
                class="regular-text parent-btn py-2 flex bg-gradient-to-br from-blue-500"
                (click)="toggleRegForm()"
              >
                <img src="/assets/icons/parent.svg " class="h-6 w-6 mr-2" />
                Parent
              </button>
            </div>

            <div class="mt-14">
              <button
                routerLink="/home"
                class="regular-text mx-auto text-sm back-btn py-2 px-4 flex items-center text-gray-700 hover:bg-gray-200 hover:text-gray-800 rounded-lg"
              >
                <img src="/assets/icons/back.svg " class="h-4 w-4" />
                <span>Back</span>
              </button>
            </div>
          </a>
          <div *ngIf="showRegForm">
            <div
              class="flex min-h-full flex-col justify-center px-6 lg:px-8 regular-text"
            >
              <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-8">
                <h2
                  class="justify-center font-bold leading-9 tracking-tight text-gray-900 flex items-center flex-wrap"
                >
                  Sign up for the account

                  <div>
                    <img src="/assets/icons/signup.svg" class="h-6 w-6 ml-2" />
                  </div>
                </h2>
              </div>

              <div class="mt-8">
                <ng-container [ngSwitch]="stepperOrientation | async">
                  <div *ngSwitchCase="'horizontal'" class="p-2"></div>
                  <div *ngSwitchCase="'vertical'"></div>
                </ng-container>

                <mat-stepper
                  class="example-stepper rounded-lg"
                  [orientation]="(stepperOrientation | async)!"
                >
                  <mat-step
                    [stepControl]="firstFormGroup"
                    label="Family Details"
                  >
                    <form [formGroup]="firstFormGroup">
                      <mat-form-field class="reg-field-m">
                        <mat-label>First Name, Last Name</mat-label>
                        <input
                          matInput
                          placeholder="First name, Last name"
                          formControlName="firstCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Email</mat-label>
                        <input
                          matInput
                          placeholder="Email address"
                          formControlName="emailCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Password</mat-label>
                        <input
                          matInput
                          placeholder="Password"
                          formControlName="passwordCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Confirm Password</mat-label>
                        <input
                          matInput
                          placeholder="Confirm Password"
                          formControlName="confirmPasswordCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Family ID</mat-label>
                        <input
                          matInput
                          placeholder="Family ID"
                          formControlName="familyIDCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Occupation</mat-label>
                        <input
                          matInput
                          placeholder="Occupation"
                          formControlName="occupationCtrl"
                          required
                        />
                      </mat-form-field>
                      <div>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step
                    [stepControl]="secondFormGroup"
                    label="Children Details"
                  >
                    <form [formGroup]="secondFormGroup">
                      <mat-form-field class="reg-field-m">
                        <mat-label>First name, Last name</mat-label>
                        <input
                          matInput
                          formControlName="secondCtrl"
                          placeholder="First name, Last name"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Class ID</mat-label>
                        <input
                          matInput
                          placeholder="Child's name"
                          formControlName="childNameCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Any Medication</mat-label>
                        <input
                          matInput
                          placeholder="Any Medication Details"
                          formControlName="classCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Major</mat-label>
                        <input
                          matInput
                          type="number"
                          min="1"
                          placeholder="How old he/she is?"
                          formControlName="ageCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>ITS Number</mat-label>
                        <input
                          matInput
                          formControlName="itsNumberCtrl"
                          placeholder="ITS Number"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Grade</mat-label>
                        <input
                          matInput
                          formControlName="gradeCtrl"
                          placeholder="Grade"
                          required
                        />
                      </mat-form-field>
                      <div class="py-4">
                        <mat-accordion class="example-headers-align">
                          <mat-expansion-panel class="add-children-display">
                            <mat-expansion-panel-header class="add-children-p">
                              <button
                                mat-raised-button
                                color="secondary"
                                class="mx-auto border-0 add-children-btn"
                                (click)="toggleIcon()"
                              >
                                <mat-icon *ngIf="isAddVisible">add</mat-icon>
                                <mat-icon *ngIf="!isAddVisible">remove</mat-icon
                                >Add Children
                              </button>
                            </mat-expansion-panel-header>

                            <mat-form-field
                              class="reg-field-m add-children-display"
                            >
                              <mat-label>First name, Last Name</mat-label>
                              <input matInput />
                            </mat-form-field>

                            <mat-form-field
                              class="reg-field-m add-children-display"
                            >
                              <mat-label>Class</mat-label>
                              <input matInput />
                            </mat-form-field>
                            <mat-form-field
                              class="reg-field-m add-children-display"
                            >
                              <mat-label>Garde</mat-label>
                              <input matInput />
                            </mat-form-field>
                            <mat-form-field
                              class="reg-field-m add-children-display"
                            >
                              <mat-label>Age</mat-label>
                              <input matInput />
                            </mat-form-field>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>

                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="thirdFormGroup" label="Address">
                    <form [formGroup]="thirdFormGroup">
                      <mat-form-field class="reg-field-m">
                        <mat-label>Address</mat-label>
                        <input
                          matInput
                          formControlName="thirdCtrl"
                          placeholder="Ex. 1 Main St, New York, NY"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>City</mat-label>
                        <input
                          matInput
                          formControlName="cityCtrl"
                          placeholder="City"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>State</mat-label>
                        <input
                          matInput
                          placeholder="State"
                          formControlName="stateCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Country</mat-label>
                        <input
                          matInput
                          placeholder="Country"
                          formControlName="countryCtrl"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Phone Number</mat-label>
                        <input
                          matInput
                          formControlName="phoneCtrl"
                          placeholder="Ex. 12345678"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field class="reg-field-m">
                        <mat-label>Work Email</mat-label>
                        <input
                          matInput
                          formControlName="workEmailCtrl"
                          placeholder="Work Email"
                          required
                        />
                      </mat-form-field>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button color="primary">Save</button>
                      </div>
                    </form>
                  </mat-step>
                </mat-stepper>
                <div>
                  <button
                    mat-raised-button
                    class="btn-sign-up w-60 font-bold bg-gradient-to-br from-indigo-500 to-violet-500 btn-style-hover"
                  >
                    Sign up
                  </button>
                </div>

                <p class="pt-6 text-center text-sm text-gray-500">
                  Already have an account?
                  <a
                    routerLink="/home"
                    class="font-semibold leading-6 text-indigo-600"
                    >Login</a
                  >
                </p>
                <div class="mt-10">
                  <button
                    class="regular-text mx-auto text-sm back-btn py-2 px-4 flex items-center text-gray-700 hover:bg-gray-200 hover:text-gray-800 rounded-lg"
                    routerLink="/home"
                  >
                    <img src="/assets/icons/back.svg " class="h-4 w-4" />

                    <span>Back</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
