<div class="h-screen w-16 md:w-64 flex flex-col bg-white">
  <div class="hidden md:block py-4 text-center">
    <h1 class="bold-text flex justify-center items-center">
      <div class="svg-icon-size">
        <img src="/assets/icons/edu.svg" />
      </div>

      <div class="brand-name">Edu<span class="sync-color">Sync</span></div>
    </h1>
  </div>

  <nav class="hidden md:block mt-12 text-black-700 ml-5">
    <ul>
      <li
        class="py-4 px-4 hover:bg-indigo-500 hover:text-white hover:rounded-lg hover:py-2 hover:px-4 transition duration-300"
      >
        <a href="#" class="flex items-center link-color"
          ><img
            src="assets/icons/dashboard.svg "
            alt="Icons"
            class="w-6 h-6 mr-2"
          />
          Dashboard
        </a>
      </li>

      <li
        class="py-4 px-4 hover:bg-indigo-500 hover:text-white hover:rounded-lg hover:py-2 hover:px-4 transition duration-300"
      >
        <a href="#" class="flex items-center link-color"
          ><img
            src="assets/icons/student-black.svg"
            alt="Icons"
            class="w-6 h-6 mr-2"
          />
          Self Attendence
        </a>
      </li>

      <li
        class="py-4 px-4 hover:bg-indigo-500 hover:text-white hover:rounded-lg hover:py-2 hover:px-4 transition duration-300"
      >
        <a href="#" class="flex items-center link-color"
          ><img
            src="assets/icons/group.svg "
            alt="Icons"
            class="w-6 h-6 mr-2"
          />
          Class Attendence
        </a>
      </li>
      <li
        class="py-4 px-4 hover:bg-indigo-500 hover:text-white hover:rounded-lg hover:py-4 hover:px-4 transition duration-300"
      >
        <a href="#" class="flex link-color items-center hover:text-white">
          <img src="assets/icons/edit.svg " alt="Icons" class="w-6 h-6 mr-2" />
          Edit Info
        </a>
      </li>
    </ul>
  </nav>
  <a
    class="mt-auto pb-16 link-color flex items-center ml-5 hover:bg-indigo-500 hover:text-white hover:rounded-lg transition duration-300"
    ><img src="assets/icons/logout.svg " alt="Icons" class="w-6 h-6 mr-2" />
    Logout</a
  >
</div>

<!-- Mobile Menu (Hidden on Desktop) -->
