<div class="flex login-container-bg regular-text flex-col md:flex-row w-full">
  <div class="w-full md:w-64 h-screen text-white fixed top-0 left-0 md:block">
    <app-left-nav></app-left-nav>
  </div>
  <div class="hidden max-md:block w-full z-20">
    <app-mobile-nav></app-mobile-nav>
  </div>
  <div class="flex-grow p-8 pt-4 flex flex-col ml-0 md:ml-64 pb-0 mobile-mt">
    <app-header class="fixed top-0 hidden md:block header-style"></app-header>

    <!-- Dashboard Content -->
    <div *ngIf="userRole === 'teacher'">
      <header class="bg-white md:shadow-md">
        <div class="mx-auto md:px-4 pt-6 sm:px-6 lg:px-8 md:mt-container">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div
              class="bg-white rounded-lg shadow-lg p-6 relative dashboard-card-hover"
            >
              <span class="absolute top-0 right-0 w-20 p-4">
                <img src="assets/images/attendance.png" />
              </span>
              <h3 class="text-base font-semibold text-gray-800 mb-5">
                Attendance Percentage
              </h3>
              <div class="flex items-baseline gap-x-3">
                <p class="text-3xl text-cyan-600">90%</p>
                <p class="text-[14px] text-gray-400">Average of 85 Students</p>
              </div>
            </div>

            <!-- Card 2 -->
            <div
              class="bg-white rounded-lg shadow-lg p-6 relative dashboard-card-hover"
            >
              <span class="absolute top-0 right-0 w-24 p-4">
                <img src="assets/images/performance.png" />
              </span>
              <h3 class="text-base font-semibold text-gray-800 mb-5">
                Student Performance
              </h3>
              <div class="flex items-baseline gap-x-3">
                <p class="text-3xl text-green-600">88%</p>
                <p class="text-[14px] text-gray-400">Average of 85 Students</p>
              </div>
            </div>

            <!-- Card 3 -->
            <div
              class="bg-white rounded-lg shadow-lg p-6 relative dashboard-card-hover"
            >
              <span class="absolute top-0 right-0 w-20 p-4">
                <img src="assets/images/students.png" />
              </span>
              <h3 class="text-base font-semibold text-gray-800 mb-5">
                No. of Students
              </h3>
              <div class="flex items-baseline gap-x-3">
                <p class="text-3xl text-blue-800">57</p>
                <p class="text-[14px] text-gray-400">Section 1</p>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-8 pt-10">
            <div class="col-span-2">
              <p class="font-bold mb-6">Student Progress</p>
              <div class="relative overflow-x-auto border rounded-lg shadow-md">
                <table
                  class="min-w-full divide-y divide-gray-200 border-collapse table-auto"
                >
                  <thead class="bg-gray-100">
                    <tr>
                      <th
                        class="px-6 py-6 text-left text-xs font-bold text-gray-500 uppercase tracking-wider"
                      >
                        Subjects
                      </th>
                      <th
                        class="px-6 py-6 text-left text-xs font-bold text-gray-500 uppercase tracking-wider"
                      >
                        Content Progress
                      </th>
                      <th
                        class="px-6 py-6 text-left text-xs font-bold text-gray-500 uppercase tracking-wider"
                      >
                        Grades
                      </th>
                      <th
                        class="px-6 py-6 text-left text-xs font-bold text-gray-500 uppercase tracking-wider"
                      >
                        Performance
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-100">
                    <tr>
                      <td class="flex items-center px-6 py-5 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        Mathematics
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/2 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-indigo-600 ml-3">100%</span>
                        </div>
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap text-center">A</td>
                      <td class="px-6 py-5 whitespace-nowrap text-green-600">
                        Satisfactory
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-5 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        Physics
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/4 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-indigo-600 ml-3">20%</span>
                        </div>
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap text-center">
                        B+
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap text-yellow-600">
                        Average
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-5 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        Chemistry
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/3 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-indigo-600 ml-3">60%</span>
                        </div>
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap text-center">B</td>
                      <td class="px-6 py-5 whitespace-nowrap text-red-500">
                        At Risk
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-5 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        English
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/3 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-indigo-600 ml-3">60%</span>
                        </div>
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap text-center">
                        A+
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap text-green-600">
                        Satisfactory
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-5 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        History
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/4 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-indigo-600 ml-3">20%</span>
                        </div>
                      </td>
                      <td class="px-6 py-5 whitespace-nowrap text-center">C</td>
                      <td class="px-6 py-5 whitespace-nowrap text-red-500">
                        At Risk
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bg-gray-100 py-4"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-span-2 md:col-span-1">
              <p class="font-bold mb-6">Semester Progress</p>
              <div
                class="w-full shadow-md rounded-lg px-4 py-8 border bg-white"
              >
                <div class="relative pt-1">
                  <div class="flex mb-5 items-center justify-between">
                    <div>
                      <span
                        class="text-[13px] font-semibold inline-block py-1 uppercase rounded-full text-indigo-600"
                      >
                        <mat-icon>hourglass_empty</mat-icon>
                        <span class="align-super ml-2">In Progress</span>
                      </span>
                    </div>
                    <div class="text-right">
                      <span
                        class="text-[13px] font-semibold inline-block text-indigo-600"
                      >
                        50%
                      </span>
                    </div>
                  </div>

                  <div class="flex mb-5 items-center justify-between">
                    <div>
                      <span
                        class="text-[13px] font-semibold inline-block py-1 uppercase rounded-full text-green-600"
                      >
                        <mat-icon>done</mat-icon>
                        <span class="align-super ml-2">Completed</span>
                      </span>
                    </div>
                    <div class="text-right">
                      <span
                        class="text-[13px] font-semibold inline-block text-green-600"
                      >
                        30%
                      </span>
                    </div>
                  </div>
                  <div class="flex mb-6 items-center justify-between">
                    <div>
                      <span
                        class="text-[13px] font-semibold inline-block py-1 uppercase rounded-full text-yellow-600"
                      >
                        <mat-icon>access_time</mat-icon>
                        <span class="align-super ml-2">Pending</span>
                      </span>
                    </div>
                    <div class="text-right">
                      <span
                        class="text-[13px] font-semibold inline-block text-yellow-600"
                      >
                        20%
                      </span>
                    </div>
                  </div>
                  <div class="py-8">
                    <div
                      class="overflow-hidden h-2 text-xs flex rounded-lg bg-indigo-100"
                    >
                      <div
                        style="width: 50%"
                        title="IN PROGRESS"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-600"
                      ></div>
                      <div
                        style="width: 30%"
                        title="COMPLETED"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"
                      ></div>
                      <div
                        style="width: 20%"
                        title="PENDING"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-yellow-500"
                      ></div>
                    </div>
                  </div>
                  <div class="mt-12">
                    <div class="relative pt-1">
                      <div
                        class="text-[14px] font-semibold text-indigo-500 px-2 py-3 rounded-lg md:whitespace-nowrap bg-gradient-to-br from-blue-100 to-purple-100"
                      >
                        <mat-icon>timelapse</mat-icon
                        ><span class="align-super ml-1">
                          122 Days Left for Semester</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-span-2 md:col-span-1 calender-container">
              <p class="font-bold mb-6">Upcoming Events</p>
              <mat-card>
                <mat-calendar
                  [(selected)]="selected"
                  class="w-full border shadow-md rounded-lg"
                ></mat-calendar>
              </mat-card>
              <div class="w-full">
                <p class="py-6 text-indigo-600 font-semibold">
                  <mat-icon>event</mat-icon>
                  <span class="align-super text-[14px]">
                    Selected Date: {{ selected }}</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div *ngIf="userRole === 'student'">
      <!-- Student dashboard content -->
    </div>

    <div *ngIf="userRole === 'parent'">
      <!-- Parent dashboard content -->
    </div>
  </div>
</div>
