<div class="flex login-container-bg regular-text">
  <div class="w-64 h-screen bg-gray-900 text-white fixed top-0 left-0">
    <app-left-nav></app-left-nav>
  </div>

  <div class="flex-grow p-8 pt-4 flex flex-col ml-64">
    <app-header class="mb-8 self-end"></app-header>

    <!-- Dashboard Content -->
    <div *ngIf="userRole === 'teacher'">
      <header class="bg-white shadow mb-8">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1
            class="text-2xl font-bold tracking-tight text-gray-900 text-center"
          >
            Welcome To Dashboard!
          </h1>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Sezuka Inu</mat-card-title>
              <mat-card-subtitle>Student</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="assets/images/teacher.JPG"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="text-justify py-3">
                Welcome To the Dashboard, Sezuka Inu. Now you can explore your
                online study resources and other student related activities.
              </p>
            </mat-card-content>
            <mat-card-actions class="flex justify-between items-center">
              <button mat-raised-button mat-button color="warn">
                <mat-icon>favorite</mat-icon> LIKE
              </button>
              <button mat-raised-button mat-button color="primary">
                SHARE <mat-icon>share</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </header>
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <!-- Your content -->
        </div>
      </main>
    </div>

    <div *ngIf="userRole === 'student'">
      <!-- Student dashboard content -->
    </div>

    <div *ngIf="userRole === 'parent'">
      <!-- Parent dashboard content -->
    </div>
  </div>
</div>
