<div class="flex login-container-bg regular-text flex-col md:flex-row w-full">
  <div class="w-full md:w-64 h-screen text-white fixed top-0 left-0 md:block">
    <app-left-nav></app-left-nav>
  </div>

  <div class="flex-grow p-8 pt-4 flex flex-col ml-0 md:ml-64">
    <app-header
      class="mb-8 fixed top-0 hidden md:block"
      style="width: -webkit-fill-available; margin-right: 2rem; z-index: 1"
    ></app-header>

    <div class="hidden max-md:block">
      <app-mobile-nav></app-mobile-nav>
    </div>

    <!-- Dashboard Content -->
    <div *ngIf="userRole === 'teacher'">
      <header class="bg-white shadow mb-8">
        <div class="mx-auto px-4 py-6 sm:px-6 lg:px-8 mt-container">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Card 1 -->
            <div
              class="bg-white rounded-lg shadow-lg p-6 relative dashboard-card-hover"
            >
              <span class="absolute top-0 right-0 w-20 p-4">
                <img src="assets/images/attendance.png" />
              </span>
              <h3 class="text-base font-semibold text-gray-800 mb-5">
                Attendance Percentage
              </h3>
              <div class="flex items-baseline gap-x-3">
                <p class="text-3xl text-cyan-600">90%</p>
                <p class="text-[14px] text-gray-400">Average of 85 Students</p>
              </div>
            </div>

            <!-- Card 2 -->
            <div
              class="bg-white rounded-lg shadow-lg p-6 relative dashboard-card-hover"
            >
              <span class="absolute top-0 right-0 w-24 p-4">
                <img src="assets/images/performance.png" />
              </span>
              <h3 class="text-base font-semibold text-gray-800 mb-5">
                Student Performance
              </h3>
              <div class="flex items-baseline gap-x-3">
                <p class="text-3xl text-green-600">88%</p>
                <p class="text-[14px] text-gray-400">Average of 85 Students</p>
              </div>
            </div>

            <!-- Card 3 -->
            <div
              class="bg-white rounded-lg shadow-lg p-6 relative dashboard-card-hover"
            >
              <span class="absolute top-0 right-0 w-24 p-4">
                <img src="assets/images/students.png" />
              </span>
              <h3 class="text-base font-semibold text-gray-800 mb-5">
                No. of Students
              </h3>
              <div class="flex items-baseline gap-x-3">
                <p class="text-3xl text-blue-800">57</p>
                <p class="text-[14px] text-gray-400">Section 1</p>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-4 gap-4 py-8">
            <div class="col-span-2">
              <p class="font-bold mb-8">Student Progress</p>
              <div class="relative overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-100">
                    <tr>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Subjects
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Content Progress
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Grades
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Performance
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr>
                      <td class="flex items-center px-6 py-4 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        Mathematics
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/2 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-green-600 ml-3">100%</span>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-center">A</td>
                      <td class="px-6 py-4 whitespace-nowrap text-green-600">
                        Satisfactory
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-4 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        Physics
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/4 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-green-600 ml-3">20%</span>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-center">
                        B+
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-yellow-500">
                        Average
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-4 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        Chemistry
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/3 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-green-600 ml-3">60%</span>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-center">B</td>
                      <td class="px-6 py-4 whitespace-nowrap text-red-500">
                        At Risk
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-4 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        English
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/3 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-green-600 ml-3">60%</span>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-center">
                        A+
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-green-600">
                        Satisfactory
                      </td>
                    </tr>
                    <tr>
                      <td class="flex items-center px-6 py-4 whitespace-nowrap">
                        <img src="assets/images/book.png" class="w-6 mr-2" />
                        History
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="w-2/3">
                            <div class="w-full h-2 bg-gray-200 rounded-full">
                              <div
                                class="w-2/4 h-2 bg-indigo-600 rounded-full"
                              ></div>
                            </div>
                          </div>
                          <span class="text-green-600 ml-3">20%</span>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-center">C</td>
                      <td class="px-6 py-4 whitespace-nowrap text-red-500">
                        At Risk
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-span-1">
              <p class="font-bold mb-8">Semester Progress</p>
              <div class="w-full">
                <label
                  for="completion-progress"
                  class="block text-sm font-medium text-gray-700"
                  >Course Completion:</label
                >
                <div class="relative pt-1">
                  <div class="flex mb-2 items-center justify-between">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600"
                      >
                        <mat-icon>hourglass_empty</mat-icon> In Progress
                      </span>
                    </div>
                    <div class="text-right">
                      <span
                        class="text-xs font-semibold inline-block text-indigo-600"
                      >
                        60%
                      </span>
                    </div>
                  </div>
                  <div class="flex mb-2 items-center justify-between">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-yellow-600"
                      >
                        <mat-icon>access_time</mat-icon> Pending
                      </span>
                    </div>
                    <div class="text-right">
                      <span
                        class="text-xs font-semibold inline-block text-yellow-600"
                      >
                        30%
                      </span>
                    </div>
                  </div>
                  <div class="flex mb-2 items-center justify-between">
                    <div>
                      <span
                        class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-600"
                      >
                        <mat-icon>done</mat-icon> Completed
                      </span>
                    </div>
                    <div class="text-right">
                      <span
                        class="text-xs font-semibold inline-block text-green-600"
                      >
                        100%
                      </span>
                    </div>
                  </div>
                  <div
                    class="overflow-hidden h-3 mb-4 text-xs flex rounded-lg bg-teal-200"
                  >
                    <div
                      style="width: 20%"
                      class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-teal-500"
                    >
                      <!-- In Progress section (20%) -->
                    </div>
                    <div
                      style="width: 40%"
                      class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-yellow-500"
                    >
                      <!-- Completed section (40%) -->
                    </div>
                    <div
                      style="width: 40%"
                      class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-600"
                    >
                      <!-- Pending section (40%) -->
                    </div>
                  </div>
                  <div class="mt-4">
                    <div class="relative pt-1">
                      <div class="text-xs font-semibold text-blue-400">
                        <mat-icon>timelapse</mat-icon> 122 Days Left for
                        Semester
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <p class="font-bold mb-8">Upcoming Events</p>
              <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected"></mat-calendar>
              </mat-card>
              <div class="w-3/4">
                <p class="py-6">
                  <mat-icon class="text-indigo-600">event</mat-icon>
                  <span class="align-super text-[15px]">
                    Selected Date: {{ selected }}</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <!-- Your content -->
        </div>
      </main>
    </div>

    <div *ngIf="userRole === 'student'">
      <!-- Student dashboard content -->
    </div>

    <div *ngIf="userRole === 'parent'">
      <!-- Parent dashboard content -->
    </div>
  </div>
</div>
