<div class="w-full">
  <div
    class="shadow-lg bg-white z-10 flex justify-between items-center px-2 py-4"
  >
    <button type="button" mat-button (click)="drawer.toggle(); openNavHeight()">
      <mat-icon
        aria-hidden="false"
        aria-label="Menu icon"
        fontIcon="menu"
      ></mat-icon>
    </button>

    <h1 class="bold-text flex items-center">
      <div class="svg-icon-size">
        <img src="/assets/icons/edu.svg" />
      </div>
      <div class="brand-name">Edu<span class="sync-color">Sync</span></div>
    </h1>

    <button
      type="button"
      class="relative flex items-center rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-violet-700"
      id="user-menu-button"
      aria-expanded="false"
      aria-haspopup="true"
    >
      <span class="absolute -inset-1.5"></span>
      <img
        class="h-8 w-8 rounded-full"
        src="assets/images/teacher.JPG"
        alt="User Avatar"
      />
    </button>
  </div>

  <!-- <mat-drawer-container class="example-container" autosize> -->
  <mat-drawer
    #drawer
    class="example-sidenav shadow-lg"
    mode="side"
    id="openNav"
  >
    <nav class="text-black-700 p-6 w-full pb-0 pl-0">
      <ul class="space-y-4">
        <!-- Mobile menu items -->
        <li>
          <a
            class="flex items-center gap-x-2 py-2 px-2.5 bg-indigo-500 text-white rounded-lg transition duration-300"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="grid_view"
            ></mat-icon>
            Dashboard
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center link-color gap-x-2 py-2 px-2.5 rounded-lg hover:bg-indigo-500 hover:text-white hover:rounded-lg transition duration-300"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="person_outline"
            ></mat-icon>
            Self Attendance
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center link-color gap-x-2 py-2 px-2.5 rounded-lg hover:bg-indigo-500 hover:text-white hover:rounded-lg transition duration-300"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="groups"
            ></mat-icon>
            Class Attendance
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center link-color gap-x-2 py-2 px-2.5 rounded-lg hover:bg-indigo-500 hover:text-white hover:rounded-lg transition duration-300"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="edit_note"
            ></mat-icon>
            Edit Info
          </a>
        </li>
        <hr class="border-indigo-200" />
        <li>
          <a
            routerLink="/home"
            class="flex items-center link-color gap-x-2 py-3 px-2.5 rounded-lg hover:bg-indigo-500 hover:text-white hover:rounded-lg transition duration-300"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="logout"
            ></mat-icon>
            Logout</a
          >
        </li>
      </ul>
    </nav>
  </mat-drawer>
  <!-- </mat-drawer-container> -->
</div>
