/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}
.body {
  @font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
  }

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf ") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Light.ttf ") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --primary-color: #6344ed;
  --secondary-color: #8a66f6;
  --tertiary-color: #c0acf5;
  --text-color1: #1a1a1a;
  --text-color2: #313131;
  --text-color3: #545454;
  --text-color4: #8d8d8d;
  --text-color5: #e8e8e8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

.sync-color {
  color: var(--primary-color);
}

.bold-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.regular-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.thin-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.svg-icon-size {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.8rem;
}
.brand-name {
  font-size: 2.7rem;
}
.login-btn {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.login-btn:hover {
  background-color: #4621ea;
}
.register-btn {
  background-color: var(--text-color2);
  border-radius: 6px;
  padding-left: 3rem;
  padding-right: 3rem;
}
.register-btn:hover {
  background-color: #282727;
}
