/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
.body {
  @font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    margin: 0;
  }

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf ") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Light.ttf ") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --primary-color: #6344ed;
  --secondary-color: #8a66f6;
  --tertiary-color: #c0acf5;
  --text-color1: #1a1a1a;
  --text-color2: #313131;
  --text-color3: #545454;
  --text-color4: #8d8d8d;
  --text-color5: #e8e8e8;
  --dashboard-color1: #5b51ea;
  --dashboard-color2: #0b9a62c9;
  --dashboard-color3: #00acea;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.link-color {
  color: var(--text-color2) !important;
}
.link-color:hover {
  color: var(--primary-color) !important;
}

.sync-color {
  color: var(--primary-color);
}

.bold-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.regular-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.thin-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.svg-icon-size {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 0.6rem;
}

.brand-name {
  font-size: 2.1rem;
  margin-top: 4px;
  color: black;
}
.btn-style-hover {
  transition: all 0.3s ease-out !important;
}
.btn-style-hover:hover {
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) !important;
}
.login-btn {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  transition: all 0.3s ease-out;
}
.login-btn:hover {
  background-color: #4621ea;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) !important;
}
.register-btn {
  background-color: var(--text-color2);
  border-radius: 6px;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.3s ease-out;
}
.register-btn:hover {
  background-color: #1a1919;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) !important;
}
.login-container-bg {
  background-color: #c0acf52b;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.left-container-img {
  width: 100%;
  max-width: 450px;
}
.left-container-style {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 5rem;
  background-color: white;
  margin: 0;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
  transform: scale(0);
}

.transition-transform.scale-1 {
  transform: scale(1);
}
.to-gray-500 {
  color: var(--text-color2);
}
.from-violet-500 {
  color: var(--primary-color);
}
.parent-btn {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding-left: 1.8rem;
  padding-right: 2rem;
  margin: auto;
  transition: all 0.3s ease-out;
}
.parent-btn:hover {
  background-color: #4621ea;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) !important;
}
.teacher-btn {
  background-color: var(--text-color2);
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 2rem;
  margin: auto;
  transition: all 0.3s ease-out;
}
.teacher-btn:hover {
  background-color: #1a1919;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) !important;
}
.student-btn {
  background-color: #3841ce;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 2rem;
  margin: auto;
  transition: all 0.3s ease-out;
}
.student-btn:hover {
  background-color: #161fa1;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) !important;
}
.text-indigo-600 {
  color: var(--primary-color) !important;
}
.text-indigo-600:hover {
  color: #3c1cca !important;
}

.registration-form-container {
  max-height: 100vh;
  overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}
.scroll-container::-webkit-scrollbar-track {
  background-color: var(--tertiary-color);
}
.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: 8px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.reg-field-m {
  margin-left: 2rem;
  margin-right: 2rem;
}
.btn-sign-up {
  background-color: var(--primary-color) !important;
  color: white !important;
  padding: 1.3rem !important;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-card {
  max-width: 330px;
}

.example-header-image {
  background-image: url("assets/images/teacher.JPG");
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.add-children-p {
  padding: 0 !important;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.mt-container {
  margin-top: 8rem;
}
.add-children-display {
  display: flex !important;
  flex-direction: column !important;
}
.add-children-btn {
  box-shadow: none !important;
}
.add-children-btn:hover {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}
.mat-expansion-indicator {
  display: none !important;
}

.dashboard-card-hover {
  transition: all 0.3s ease-in-out;
}
.dashboard-card-hover:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(63, 81, 181, 0.35);
}
.calender-container {
  .mat-mdc-card {
    box-shadow: none !important;
  }
}
.header-style {
  width: -webkit-fill-available;
  margin-right: 2rem;
  z-index: 1;
}
.svg-icon-size-mobile {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0;
}
.brand-name-mobile {
  font-size: 1.6rem;
  margin-top: 4px;
  color: black;
}
.mode-outline {
  outline: auto;
}
.dark {
  background-color: rgb(30 41 59);
}
.dark .sub-dark {
  background-color: rgb(30 41 59);
  color: white;

  h3,
  h1,
  li,
  a,
  .mat-calendar-body-cell-content,
  .mat-calendar-body-label,
  .mat-calendar-table-header th,
  .mat-calendar-period-button,
  .brand-name,
  h2 span {
    color: white !important;
  }

  a:hover {
    color: var(--primary-color) !important;
  }
}

.dark .sub-dark .border-t-2 {
  border-top-color: var(--primary-color) !important;
}
.dark .sub-dark .bg-gray-100 {
  background-color: var(--primary-color) !important;
}
.dark .sub-dark .text-gray-500 {
  color: white;
}

@media screen and (max-width: 767px) {
  .login-container-bg {
    border-radius: 1rem;
  }
  .left-container-style {
    border-radius: 0;
  }
  .login-container-bg {
    background-color: white;
  }
  .login-container-screen {
    border-radius: 0;
    box-shadow: none;
    padding: 2.5rem;
  }
  .register-container-screen {
    border-radius: 0;
    padding: 1rem;
    box-shadow: none;
  }
  .register-mt-8 {
    margin-top: 2rem;
  }
  .reg-field-m {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .btn-logout {
    display: none;
  }
  .mobile-mt {
    margin-top: -23rem;
  }
  .mt-container {
    margin-top: 0;
  }
  .mobile-header-logo {
    margin-left: -1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .registration-form-container {
    padding: 0;
    max-height: 100vh;
    overflow-y: unset;
  }
}
@media screen and (max-width: 339px) {
  .dashboard-icon-width {
    display: none;
  }
}
